@charset "utf-8";
/* CSS Document */

/*公用*/
.comWidth{width:1000px; margin-left:auto; margin-right:auto;}
.leftArea{float:left;}
.rightArea{float:right;}
.hide{display:none;}
.show{display:block;}

.welcomUser{color:red;}
/*main*/
.TList{width:1000px; height:650px;}
.showBox{width:1000px; margin:10px auto; border:#CCC solid 1px;}
.movieList{float:left;width:333px;}

.moretable td{width:250px;height:200px;text-align: center;vertical-align:text-top;}
.moretable img{ width:190px;height:150px;}
.moretable h3{font-size:14px;}

/*topBar*/
.topBar{height:31px; background-color:#6c6c6c;filter:alpha(opacity=50);opacity:0.5; line-height:31px;color:#FFF;}
.collection{background:url(../images/icon/collection.jpg) left center no-repeat; padding-left:19px; font-weight:bold;}
.topBar a{color:#FFF;}
.topBar a:hover{color:red;}
/*logo*/
.logoBar{height:85px; background-color:#7e7e7e;filter:alpha(opacity=50);opacity:0.5;}
.logo{padding-left:41px; padding-top:13px;}
/*search*/
.search_box{width:430px; padding-top:23px; padding-left:185px;}
/*.search_text{width:350px;height:14px; line-height:14px; padding:11px 5px 10px; background-color:#FFF;}
*/
.search_text{width:350px;height:35px; line-height:35px\9;/*css hack  \9 代表所有的ie浏览器*/ padding:0 5px; background-color:#FFF;}
.search_btn{width:70px; height:35px; font-size:14px; font-family:"Microsoft YaHei", "微软雅黑"; background-color:#FF8C00; color:#FFF;}

/*导航*/
.navBox{height:35px; background-color:#969696;filter:alpha(opacity=50);opacity:0.5; color:#FFF;filter:alpha(opacity=50);opacity:0.5;}
.shopClass{width:190px; position:relative;}
.shopClass h3{text-align:center; line-height:35px;}
.shopClass_icon{width:11px; height:7px; overflow:hidden; background-position:0 -39px; display:inline-block; margin-left:11px;}
.nav,.shopClass h3{font-family:"Microsoft YaHei", "微软雅黑";}
.nav{line-height:35px;}
.nav li{float:left;}
.nav a{height:35px; display:inline-block; padding:0 35px; color:#FFF;}
.nav .active{background-color:#4593FD;}


/*商品弹出列表*/
.shopClass_show{background-color:#969696;filter:alpha(opacity=50);opacity:0.5; position:absolute; left:0; top:35px; width:100%; padding-bottom:1px;}
.hang{height:33px;line-height:33px;}
.hang a{font-family:"Microsoft YaHei", "微软雅黑"; font-size:16px;color:#FFF;}
.hang a:hover{text-decoration:underline;display:inline-block;}

/*电影列表*/
.hovertable{
	width:300px;
	height:400px;
	font-size:14px;
	table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */  
}
table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable tr {
	background-color:#d4e3e5;
	background-color:#d4e3e5;
}
table.hovertable td {
	width:100%;  
    word-break:keep-all;/* 不换行 */  
    white-space:nowrap;/* 不换行 */  
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */  
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用*/
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.shopClass_item{padding:13px 10px; border-bottom:#3487F2 solid 1px; border-top:#5AA1FE solid 1px; line-height:16px;}
.shopClass_item dt{height:40px; line-height:1; overflow:hidden; background:url(../images/icon/shop_sj.jpg) right center no-repeat;}
.shopClass_item .b{/*font-family:"Microsoft YaHei", "微软雅黑"; font-size:14px; font-weight:bold;*/ font:20px/1 "Microsoft YaHei", "微软雅黑";}
.shopClass_item a{color:#FFF;font:16px/1 "Microsoft YaHei", "微软雅黑";}
.shopClass_item a:hover{text-decoration:underline;}
.shopClass_item .aLink{width:48px; height:20px; background:url(../images/icon/aLink_bg.png) left center no-repeat; display:inline-block; text-align:center; line-height:20px; text-decoration:underline;}

/*shopClass_item active 状态*/
.shopClass_active{background-color:#FFF; border-left:#4593FD solid 1px;}
.shopClass_active dt{background:none;}
.shopClass_active a{ color:#000;}
.shopClass_active .aLink{color:#FFF; text-decoration:none;}
/*弹出的菜单*/
.shopClass_list{width:568px; border:#CCC solid 1px; position:absolute; left:190px; top:35px;}
.shopClass_cont{padding:0 20px;}
.shopList_item{padding:10px 0; border-bottom:#CCC solid 1px;}
.shopList_item dt{color:#4B87D9; line-height:20px; font-weight:bold; height:20px;}
.shopList_item dd{padding-left:68px; display:inline-block;}
.shopList_item dd a{margin-right:12px;}
.shopList_links{padding:15px 0;}
.shopList_links a{color:#FFF; background-color:#2785E6; height:26px; line-height:26px; font-size:12px; display:inline-block; padding:0 14px 0 8px; margin-right:10px;}
.shopList_links span{width:11px; height:7px; background:url(../images/icon/shop_sj.jpg) left center no-repeat; display:inline-block; margin-left:7px;}

/*banner部分*/
.banner{margin-bottom:15px;}
.banner_bar{float:right; position:relative; overflow:hidden;}
.banner_big,
.banner_big  img{width:810px; height:318px;}



.imgBox{position:absolute; left:0; top:0;}
.imgBox li{float:left;}
.imgBox img{display:block;}



/*底部*/
.footer{text-align:center; background-color:#D4D4D4; line-height:24px; padding:50px 0;}
.footer i{font-style:normal; margin:0 5px; }
.footer a{color:#000;}
.footer a:hover{color:#F60;}
.web{padding-top:30px;}
.web img{margin:0 12px;}
.hr_25{height:25px;}
.hr_45{height:45px;}
.hr_7{height:7px; overflow:hidden;}
.hr_15{height:15px; overflow:hidden;}

/*page*/
.page{text-align:center; position:relative; z-index:2;}
.page a{height:24px; display:inline-block; line-height:24px; border:#CCC solid 1px; padding:0 12px; margin:0 2px;}
.page .hl{display:inline-block;padding:0 12px; margin:0 2px;}
.morePage{padding-left:14px; display:inline-block; height:24px; line-height:24px;}
.pageNum{width:29px; padding:0 3px; border:#ccc solid 1px; height:24px; line-height:24px\9; text-align:center; margin-left:4px;}
.page_btn{width:44px; height:24px; line-height:24px; background-color:#E8E8E8; border:#CCC solid 1px;}
.ye{padding:0 8px 0 6px;}
.page a,
.page span,
.page input{vertical-align:middle; position:relative;}
/*组件*/
.select{border:#999 solid 1px; height:22px; line-height:22px; float:left; background-color:#FFF; padding-left:10px; padding-right:20px; position:relative; z-index:4;}
.select h3{font-size:12px; font-weight:normal;}
.select span{position:absolute; right:0; top:0; height:100%; width:20px; background:url(../images/icon/sj_blue.jpg) center center no-repeat;}
.show_select{position:absolute; left:-1px; top:22px; background-color:#FFF; width:100%;border:#999 solid 1px; display:none;}
.show_select li{padding-left:10px;}


/*商品评价*/
.shopDes_tit{line-height:38px; height:38px; font-size:14px; color:#656565; padding-left:10px;}
.score_box{padding-left:10px; height:120px;}
.score{font-family:"Microsoft YaHei", "微软雅黑"; float:left; margin-right:10px;}
.score em{font-size:18px; color:#65657D; font-style:normal;}
.score span{font-size:50px; color:#FF8F00;}
.score_speed{float:left; width:450px; line-height:16px; font-size:12px; margin-top:12px; position:relative;}
.score_speed_text{overflow:hidden; margin-bottom:10px; color:#FFF; height:16px;background-color:#BDBDBD;  }
.score_speed_text li{float:left;}
.score_speed_text .speed_01{width:114px; text-indent:26px;}
.score_speed_text .speed_02{width:82px;}
.score_speed_text .speed_03{width:76px;}
.score_speed_text .speed_04{width:65px;}
.score_num{position:absolute; left:94%; top:-21px; text-align:center; width:25px; height:14px; background-color:#7F7F7F; color:#FFF;}
.score_num i{border-width:4px; border-style:solid dashed dashed dashed; border-color:#7F7F7F transparent transparent transparent; width:0; height:0;}
/*登陆*/
.login_logo .comWidth{width:460px;}
.welcome_title{font:22px/85px "Microsoft YaHei", "微软雅黑"; color:#FFF; float:left; padding-left:24px;}
.loginBox{width:458px; border:#999 solid 1px; margin:10px auto; position:relative; font:16px/44px "Microsoft YaHei", "微软雅黑";}
.login_cont{padding:15px 76px;}
.l_tit{color:#666; line-height:20px;}
.login_input{border:#999 solid 1px; height:32px; line-height:32px\9; text-indent:40px; width:100%;}
.user_icon{background:url(../images/icon/user_icon.jpg) left center no-repeat;}
.pwd_icon{background:url(../images/icon/pwd_icon.jpg) left center no-repeat;}
.reg_link{float:right;}
.reg_link:hover{text-decoration:underline;color:#F60;}
.mb_10{margin-bottom:10px;}
.autoLogin{padding-top:27px; padding-bottom:28px;}
.checked{position:relative; top:3px; margin-right:3px;}
.login_btn{width:309px; height:36px; background:url(../images/icon/login_btn.jpg) left top no-repeat;}
.login_partners{padding-top:34px;}
.login_list li{float:left; line-height:20px;}
.login_list li a:hover{text-decoration:underline;color:#F60;}
.login_list span{color:#999; margin:0 2px;}

.red_logo .comWidth{width:630px;}
.regBox{width:628px; margin:10px auto; border:#CCC solid 1px;}
.reg_item{font:14px/34px "宋体"; width:110px; text-align:right; float:left;}
.reg_item i{color:red; font-style:normal; margin-right:5px;}
.input_item{width:306px; float:left;}
.regBox li{height:70px; vertical-align:top;}
.regBox .autoLogin{height:46px; padding:0;}
.regBox .login_cont{padding:45px 76px 20px 76px;}

/*图片合并*/
.stars,
.hg_icon,
.cart_prompt_icon,
.shopClass_icon,
.hot{background-image:url(../images/icon/icon.png); background-repeat:no-repeat;}









